input:focus{
    outline: none;
}

input::placeholder{
    color:white;
    opacity:1;
}

.signinform{
    background: linear-gradient(180deg, #0D4FB4 50%, #070052 100%);
    height: 40rem;
}

.bgWash{
    background-blend-mode: soft-light;
}